.visually-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #2196f3;
  --third-color: #ffffff;
  --fourth-color: #757575;
  --header-bg-color: #2f303a;
  --header-line: #ececec;
  --logo-color: #000000;
  --filters-btn-bg: #f5f4fa;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --cards-border-color: #eeeeee;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop: rgba(0, 0, 0, 0.2);
  --social-color:#afb1b8;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: var(--fourth-color);
  transition-property: color, fill, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:active, .link:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.container {
  width: 100%;
  padding: 0 15px;
  align-items: center;
  margin: 0px auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

.section__title {
  margin-bottom: 50px;
  text-align: center;
}

.section--darker-bg {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo--dark-theme {
  color: var(--third-color);
}

.logo--accent {
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    padding-top: 4px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 46px;
  }
  .navigation__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--main-color);
  }
  .navigation__link--active::after {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
    top: 29px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-color);
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    padding-top: 4px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 46px;
  }
  .navigation__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--main-color);
  }
  .navigation__link--active::after {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
    top: 29px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-color);
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 48px 40px;
  background-color: var(--third-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-item {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-size: 40px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.175;
  color: var(--main-color);
}

.mobile-menu__tel {
  margin-top: auto;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
}

.mobile-menu__mail {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--fourth-color);
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-menu__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.222;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
}

.mobile-menu__social-link:not(last-child):after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0 10px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.is-closed {
  transform: translateX(100%);
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 8px;
    line-height: 0;
    padding: 0;
    fill: var(--main-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 1.363;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
  }
}

.project-case {
  flex-grow: 1;
  transition-property: color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  margin-bottom: 30px;
}

.project-case:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-case:hover .project-case__overlay {
  transform: translateY(0);
}

.project-case__photo {
  width: 100%;
}

.project-case__wrapper {
  padding: 20px 24px;
  border-bottom: 1px solid var(--cards-border-color);
  border-right: 1px solid var(--cards-border-color);
  border-left: 1px solid var(--cards-border-color);
}

.project-case__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-case__category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}

.project-case__card {
  position: relative;
  overflow: hidden;
}

.project-case__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  justify-content: center;
  padding: 49px 35px;
  font-size: 18px;
  line-height: 1.556;
  color: var(--third-color);
  background: var(--overlay-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .project-case {
    margin: 15px;
    flex-grow: 0;
    flex-basis: calc((100% - 60px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .project-case {
    margin: 15px;
    flex-grow: 0;
    flex-basis: calc((100% - 90px)/3);
  }
}

.social-link {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-property: color, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link--dark {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--third-color);
}

.social-link--dark:hover {
  background: var(--secondary-color);
  fill: var(--third-color);
}

.social-link--dark:focus-visible {
  outline: none;
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.social-link--light {
  fill: var(--social-color);
}

.social-link--light:hover {
  background-color: var(--secondary-color);
  fill: var(--third-color);
}

.social-link--light:focus-visible, .social-link--light:focus {
  outline: none;
  fill: var(--third-color);
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.modal-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 41px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--secondary-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal-btn:focus-visible, .modal-btn:active {
  outline: none;
  outline: none;
  color: var(--third-color);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #1b84d7;
  transition-property: color, fill, background-color, border, box-shadow;
  transition-duration: 125ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  box-shadow: none;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address__list {
  display: block;
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__text {
  color: var(--footer-contacts);
}

.address__text--accent {
  color: var(--third-color);
}

.newsletter-form {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.newsletter-form__email-input-field {
  width: 100%;
  height: 50px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--footer-contacts);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-form__email-input-field:active, .newsletter-form__email-input-field:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.newsletter-form__modal-btn {
  display: flex;
  position: relative;
  padding-right: 74px;
  width: max-content;
  height: 50px;
}

.newsletter-form__modal-btn .send-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}

@media screen and (min-width: 1200px) {
  .newsletter-form {
    display: flex;
  }
  .newsletter-form__email-input-field {
    width: 358px;
    margin-right: 12px;
  }
}

.header {
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-line);
}

.header__container {
  display: flex;
  padding: 16px 15px;
  align-items: center;
}

.header__phone, .header__email, .header__email-icon, .header__phone-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1200px;
  }
  .header__container {
    padding: 19px 15px;
  }
  .header__logo {
    margin-right: 83px;
  }
  .header__contact-wrapper {
    margin-left: auto;
  }
  .header__phone, .header__email {
    display: flex;
    align-items: center;
    fill: var(--fourth-color);
    color: var(--fourth-color);
  }
  .header__email {
    margin-left: auto;
    margin-bottom: 10px;
  }
  .header__phone {
    margin-left: 0px;
  }
  .header__email-icon, .header__phone-icon {
    display: block;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1600px;
  }
  .header__container {
    display: flex;
    padding: 25px 15px;
  }
  .header__logo {
    margin-right: 93px;
  }
  .header__contact-wrapper {
    margin-left: auto;
    display: flex;
  }
  .header__phone, .header__email {
    display: flex;
    align-items: center;
    fill: var(--fourth-color);
    color: var(--fourth-color);
  }
  .header__email {
    margin-left: auto;
    margin-bottom: 0;
  }
  .header__phone {
    margin-left: 30px;
  }
  .header__email-icon, .header__phone-icon {
    display: block;
    margin-right: 10px;
  }
}

.portfolio-buttons {
  padding-bottom: 0;
  margin-bottom: 40px;
}

.portfolio-buttons__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 12px;
}

.portfolio-buttons__btn {
  min-width: 126px;
  padding: 6px 22px;
  background: var(--filters-btn-bg);
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons__btn:hover, .portfolio-buttons__btn:focus {
  background-color: var(--secondary-color);
  color: var(--third-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-buttons__btn:active {
  outline: none;
  color: var(--third-color);
  border: 1px solid transparent;
  background-color: #1b84d7;
  border-color: transparent;
  transition-property: color, fill, background-color, border, box-shadow;
  transition-duration: 125ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .portfolio-buttons {
    margin-bottom: 30px;
  }
  .portfolio-buttons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    margin-bottom: 30px;
  }
}

.projects {
  padding-top: 0;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .projects__list {
    margin: -15px;
  }
}

.footer {
  margin: 0 auto;
  background-color: var(--header-bg-color);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__center, .footer__right {
  padding-top: 12px;
  margin-top: 60px;
}

.footer__right h4,
.footer__center h4 {
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: var(--third-color);
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 auto;
    background-color: var(--header-bg-color);
  }
  .footer__container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer__left {
    flex-basis: 50%;
  }
  .footer__center {
    flex-basis: 50%;
    margin-top: 0;
  }
  .footer__right {
    margin: 60px auto 0;
    flex-basis: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1600px;
  }
  .footer__container,
  .footer h4 {
    text-align: left;
  }
  .footer__left, .footer__center {
    flex-basis: auto;
  }
  .footer__right {
    margin: 0;
    flex-basis: auto;
  }
}
/*# sourceMappingURL=portfolio.css.map */