.hero {
  margin: 0 auto;
  padding: 118px 0;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-img-mobile.jpg) no-repeat;
  background-color: rgba(47, 48, 58, 0.4);
  background-position: center top;
  background-size: cover;

  &__title {
    max-width: 365px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: var(--third-color);
  }
}


@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-img-tablet.jpg) no-repeat;
    background-color: rgba(47, 48, 58, 0.4);
    background-position: center top;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    margin: 0 auto;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-img-desktop.jpg) no-repeat;
    background-color: rgba(47, 48, 58, 0.4);
    background-position: center top;
    background-size: cover;


    &__title {

      max-width: 696px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: var(--third-color);
    }
  }
}