.foot {
    background-color: var(--background-color);
    font-style: normal;
}

.foot .container {
    display: flex;
    align-items: start;
}

.foot-division {
    display: inline-block;
    margin: auto;
}