.modal {
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  width: 528px;
  background-color: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);

  &__title {
    margin-bottom: 12px;
    text-align: center;
  }

  &__modal-btn {
    width: 200px;
  }

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
}

@media screen and (max-width:768px) {
  .modal {
    max-width: 450px;
  }
}