.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--white-color);
    border: 1px solid var(--backdrop-background-color);
}

.close-icon {
    height: 11px;
    width: 11px;
    position: absolute;
    top: 8px;
    right: 8px;
    columns: var(--main-color);
    font-size: 0%;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: fixed;
    background-color: var(--white-color);
    width: 528px;
    height: 581px;
    border-radius: 4px;
    box-shadow: var(--modal-window-box-shadow);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1, 150;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 40px;
    margin-bottom: 12px;
}

.modal-window {
    display: flex;
    flex-direction: column;

    &__line {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 10px;
    }

    &__label {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1, 167;
        letter-spacing: 0.01em;
        color: var(grey);
    }

    &__message {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 20px;
        color: var(grey);
    }

    &__label-text {
        font-size: 12px;
        line-height: 1, 167;
        letter-spacing: 0.01em;
        color: var(grey);
    }

    &__input-text {
        outline: none;
        height: 120px;
        width: 100%;
        padding-left: 16px;
        padding-top: 12px;
        border-radius: 4px;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-top: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        font-size: 12px;
        line-height: 1, 167;
        letter-spacing: 0.01em;
    }

    &__span {
        position: relative;
        display: block;
        margin-top: 4px;
    }

    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input-text {
        width: 100%;
        height: 120px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__checkbox {
        appearance: none;
    }

    &__policy {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-right: 54px;
        margin-bottom: 30px;
        margin-left: 55px;
        align-items: center;
        width: 419px;
        height: 24px;
    }

    &__label-policy {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--grey-color);
    }

    &__label-policy>a {
        color: var(--secondary-color);
}

    &__input:focus {
        outline: none;
        border-color: var(--secondary-color);
    }

    &__input:focus+&__icon {
        fill: var(--secondary-color);
    }

    &__input-text::placeholder {
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &__input-text:focus {
        border: 1px solid var(--secondary-color);
    }

    &__label-policy::before {
        display: inline-flex;
        content: "";
        width: 16px;
        height: 16px;
        border: 2px solid var(--main-color);
        border-radius: 2px;
        background-repeat: no-repeat;
    }

    &__checkbox:checked+&__label-policy::before {
        background-size: contain;
        border: 2px solid var(--secondary-color);
        background-color: var(--secondary-color);
        transition-property: background-color, border-color;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-image: url(../images/icon6box4.svg);
    }

    &__policy-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.06em;
        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1, 875;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-style: none;
        background-color: var(--secondary-color);
        color: var(--white-color);
        margin-right: 164px;
        margin-bottom: 40px;
        margin-left: 164px;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__policy-button:focus,
    &__policy-button:hover {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}