.social-link {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-property: color, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--dark {
    background: rgba(255, 255, 255, 0.1);
    fill: var(--third-color);

    &:hover {
      background: var(--secondary-color);
      fill: var(--third-color);
    }

    &:focus-visible {
      outline: none;
      background: var(--secondary-color);
      border-color: var(--secondary-color);
    }
  }

  &--light {
    fill: var(--social-color);

    &:hover {
      background-color: var(--secondary-color);
      fill: var(--third-color);
    }

    &:focus-visible,
    &:focus {
      outline: none;
      fill: var(--third-color);
      background: var(--secondary-color);
      border-color: var(--secondary-color);
    }
  }
}
