:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #2196f3;
  --third-color: #ffffff;
  --fourth-color: #757575;
  --header-bg-color: #2f303a;
  --header-line: #ececec;
  --logo-color: #000000;
  --filters-btn-bg: #f5f4fa;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --cards-border-color: #eeeeee;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop: rgba(0, 0, 0, 0.2);
  --social-color:#afb1b8;
}
